<div class="header">
  <!-- Logo -->
  <div class="logo">
    <img
      src="https://png.pngtree.com/png-clipart/20200709/original/pngtree-luxury-hotel-logo-design-template-png-image_3595577.jpg"
      alt="Logo">
    <span>Quản Lý Khách Sạn</span>
  </div>

  <!-- Menu và User Info nằm bên phải -->
  <div class="right-container">
    <!-- Menu -->
    <div class="menu">
      <a href="#"><i class="fas fa-hand-holding-usd"></i> Vay vốn</a>
      <a href="#"><i class="fas fa-wallet"></i> Thanh toán</a>
      <a href="#"><i class="fas fa-comment-dots"></i> Hỗ trợ</a>
      <a href="#"><i class="fas fa-cogs"></i> Thiết lập</a>
    </div>

    <!-- User Info -->
    <div class="user-info">
      <!-- Dropdown Menu -->
      <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span>0348119773</span>
        <i class="fas fa-user-circle"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Hồ sơ cá nhân</a></li>
        <li><a class="dropdown-item" href="#">Cài đặt</a></li>
        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar">
  <nav class="navbar-container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a href="#" class="navbar-link active">
          <i class="fa fa-eye"></i> Tổng quan
        </a>
      </li>
      <li class="navbar-item">
        <a href="/hangphong" class="navbar-link">
          <i class="fa fa-th-large"></i> Hạng phòng
        </a>
      </li>
      <li class="navbar-item">
        <a href="/phong" class="navbar-link">
          <i class="fa fa-th-large"></i> Phòng
        </a>
      </li>
      <li class="navbar-item">
        <a href="/hanghoa" class="navbar-link">
          <i class="fa fa-cube"></i> Hàng hóa
        </a>
      </li>
      <li class="navbar-item">
        <a href="/admin-datphong" class="navbar-link">
          <i class="fa fa-exchange"></i> Đặt phòng
        </a>
      </li>
      <li class="navbar-item dropdown">
        <a href="#" class="navbar-link">
          <i class="fa fa-users"></i> Nhân viên
        </a>
        <ul class="dropdown-menu">
          <li><a href="/nhanvien">Nhân viên</a></li>
          <li><a href="lichlamviec">Lịch làm việc</a></li>
        </ul>
      </li>
      <li class="navbar-item">
        <a href="#" class="navbar-link">
          <i class="fa fa-dollar"></i> Sổ quỹ
        </a>
      </li>
      <!-- <li class="navbar-item">
        <a href="#" class="navbar-link">
          <i class="fa fa-shopping-cart"></i> Bán online
        </a>
      </li> -->
      <li class="navbar-item">
        <a href="#" class="navbar-link">
          <i class="fa fa-bar-chart"></i> Báo cáo
        </a>
      </li>
      <li class="navbar-item staff">
        <a href="#" class="navbar-link active">
          <i class="fa fa-leaf"></i> Lễ tân
        </a>
      </li>
    </ul>
  </nav>
</div>